[Unit]
Description=Apache Airflow Celery Worker
After=network.target
Requires=redis-server.service
Wants=network.target redis-server.service

[Service]
EnvironmentFile=/etc/default/airflow
User={{ airflow_user }}
Group={{ airflow_group }}
Type=simple
ExecStart={{ airflow_venv_path | default('') }}/bin/airflow celery worker
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
