[core]
executor = {{ airflow_executor }}
sql_alchemy_conn = {{ airflow_database_url }}
fernet_key = {{ airflow_fernet_key }}
dags_folder = {{ airflow_home }}/dags
base_log_folder = {{ airflow_home }}/logs
load_examples = False

{% if airflow_executor == 'CeleryExecutor' %}
[celery]
broker_url = {{ airflow_broker_url }}
result_backend = db+{{ airflow_database_url }}
{% endif %}

[logging]
remote_logging = {{ airflow_remote_logging | bool | ternary('True', 'False') }}
logging_level = INFO
json_format = {{ airflow_logging_json | bool | ternary('True', 'False') }}
log_filename_template = {{ '{{ dag_id }}/{{ task_id }}/{{ execution_date }}/{{ try_number }}.log' }}

{% if airflow_remote_logging %}
[elasticsearch]
host = {{ airflow_elasticsearch_host }}
log_id_template = {{ '{{ dag_id }}-{{ task_id }}-{{ execution_date }}-{{ try_number }}' }}
json_format = {{ airflow_logging_json | bool | ternary('True', 'False') }}
{% endif %}
