cluster.name: "{{ es_cluster_name }}"
node.name: "{{ inventory_hostname }}"
node.roles: {{ node_roles | to_json }}

network.host: "{{ ansible_default_ipv4.address }}"
http.port: 9200

{% if groups['es_master'] | length > 1 %}
discovery.seed_hosts: {{ groups['es_master'] | map('extract', hostvars, 'ansible_default_ipv4.address') | list }}
cluster.initial_master_nodes: {{ groups['es_master'] | list }}
{% else %}
discovery.type: single-node
{% endif %}

path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
