[defaults]
inventory = ./src/inventory
roles_path = ./src/roles:./src/roles/data_systems:./src/roles/data_analytics:./src/roles/data_analytics/amundsen:./src/roles/data_analytics/airflow:./src/roles/monitoring_observability:./src/roles/infrastructure/shared:~/.ansible/roles:/usr/share/ansible/roles
collections_paths = ./src/collections:~/.ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml

[ssh_connection]
pipelining = True
