http.host: "{{ logstash_http_host }}"
http.port: {{ logstash_http_port }}
node.name: "{{ ansible_hostname }}"
path.config: "{{ logstash_pipeline_dir }}"
path.data: "/var/lib/logstash"
path.logs: "/var/log/logstash"
queue.type: "{{ logstash_queue_type }}"
pipeline.workers: {{ logstash_pipeline_workers }}
pipeline.batch.size: {{ logstash_pipeline_batch_size }}

xpack.monitoring.enabled: {{ logstash_monitoring_enabled | bool | lower }}

{% if logstash_enable_tls %}
api.ssl.enabled: true
api.ssl.keystore.path: "{{ logstash_tls_cert_path }}"
api.ssl.certificate_authorities: [{% if logstash_tls_ca_path %}"{{ logstash_tls_ca_path }}"{% endif %}]
api.ssl.keystore.password: ""
{% else %}
api.ssl.enabled: false
{% endif %}
