from amundsen_application.config import LocalConfig

class ProdConfig(LocalConfig):
    SEARCHSERVICE_BASE = "{{ search_api_base }}"
    METADATASERVICE_BASE = "{{ metadata_api_base }}"
    LOG_LEVEL = "INFO"
