#!/bin/bash

mysqldump -u {{ mariadb_backups_mariadb_username }} -p{{ mariadb_backups_mariadb_password }} --all-databases | gzip > {{ mariadb_backups_backup_location }}/$(date +\%Y\%m\%d\%H\%M\%S).sql.gz
