KC_DB=postgres
KC_DB_URL_HOST={{ keycloak_db_host }}
KC_DB_URL_PORT={{ keycloak_db_port }}
KC_DB_URL_DATABASE={{ keycloak_db_name }}
KC_DB_USERNAME={{ keycloak_db_user }}
KC_DB_PASSWORD={{ keycloak_db_password }}
KC_HOSTNAME_STRICT=false
KC_PROXY=edge
{% if keycloak_cluster %}
KC_CACHE_STACK={{ keycloak_cache_stack }}
{% endif %}
KC_HTTP_ENABLED=true
KC_HTTP_PORT={{ keycloak_http_port }}
KC_HTTPS_PORT={{ keycloak_https_port }}
KC_HOSTNAME_BIND_ADDRESS={{ keycloak_bind }}
KEYCLOAK_ADMIN={{ keycloak_admin_user }}
KEYCLOAK_ADMIN_PASSWORD={{ keycloak_admin_password }}
