[Unit]
Description=Apache Spark Master
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User={{ spark_role_user }}
Group={{ spark_role_group }}
WorkingDirectory={{ spark_role_symlink_dir }}/sbin
ExecStart={{ spark_role_symlink_dir }}/sbin/start-master.sh
ExecStop={{ spark_role_symlink_dir }}/sbin/stop-master.sh
SuccessExitStatus=143
Restart=on-failure

[Install]
WantedBy=multi-user.target
