[mysqld]
# Password Validation Plugin Configuration
plugin-load-add=simple_password_check.so
simple_password_check=FORCE_PLUS_PERMANENT
simple_password_check_minimal_length={{ mariadb_password_validation_length }}
simple_password_check_digits={{ mariadb_password_validation_number_count }}
simple_password_check_letters_same_case={{ mariadb_password_validation_mixed_case_count }}
simple_password_check_other_characters={{ mariadb_password_validation_special_char_count }}

{% if mariadb_password_validation_dictionary_file %}
simple_password_check_dictionary={{ mariadb_password_validation_dictionary_file }}
{% endif %}
