[Unit]
Description=Apache Spark History Server
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User={{ spark_user }}
Group={{ spark_group }}
WorkingDirectory={{ spark_symlink_dir }}/sbin
ExecStart={{ spark_symlink_dir }}/sbin/start-history-server.sh
ExecStop={{ spark_symlink_dir }}/sbin/stop-history-server.sh
SuccessExitStatus=143
Restart=on-failure

[Install]
WantedBy=multi-user.target
