# Spark autoscaling metrics configuration
SPARK_AUTOSCALING_ALERTS_ENABLED={{ spark_autoscaling_alerts_enabled | ternary('true', 'false') }}
SPARK_AUTOSCALING_WEBHOOK_URL={{ spark_autoscaling_webhook_url | default('') }}
