{{ apache_superset_log_file }} {
    daily
    missingok
    rotate {{ apache_superset_log_backup_count }}
    compress
    delaycompress
    notifempty
    copytruncate
    create 644 {{ apache_superset_user }} {{ apache_superset_group }}
    size {{ apache_superset_log_max_bytes }}
}

{% if apache_superset_enable_access_log %}
{{ apache_superset_access_log_file }} {
    daily
    missingok
    rotate {{ apache_superset_log_backup_count }}
    compress
    delaycompress
    notifempty
    copytruncate
    create 644 {{ apache_superset_user }} {{ apache_superset_group }}
    size {{ apache_superset_log_max_bytes }}
}
{% endif %}
