[Unit]
Description=Superset Health Check
After=network.target

[Service]
Type=oneshot
User={{ apache_superset_user }}
Group={{ apache_superset_group }}
ExecStart={{ apache_superset_venv_dir }}/bin/python {{ apache_superset_install_dir }}/health_check.py
StandardOutput=journal
StandardError=journal
