# Proxmox Environment Configuration
# Copy this file to .env and fill in your actual values

# Proxmox Server Configuration
PROXMOX_URL=https://10.80.0.1:8006
# PROXMOX_USER=ansible@pve
# PROXMOX_PASSWORD=your-password

# Alternative: Use API Token (Recommended for security)
PROXMOX_TOKEN_ID=not_a_real_login@pve!moleculetester
PROXMOX_TOKEN_SECRET=c033594d-13ce-4618-bd46-cdd6000f3ff5

# SSL Settings
PROXMOX_VALIDATE_CERTS=false

CONTAINER_ID=999
TEMPLATE=debian-12-standard_12.7-1_amd64.tar.zst
STORAGE=local-lvm
MEMORY=4096
CORES=2
