dn: olcDatabase={1}mdb,cn=config
changetype: modify
replace: olcServerID
olcServerID: {{ ldap_server_id }} {{ ldap_uri }}

dn: olcDatabase={1}mdb,cn=config
changetype: modify
add: olcSyncRepl
olcSyncRepl: rid={{ ldap_sync_id }}
  provider={{ ldap_sync_provider }}
  bindmethod=simple
  binddn="cn=admin,{{ ldap_base_dn }}"
  credentials={{ ldap_replication_password }}
  searchbase="{{ ldap_base_dn }}"
  schemachecking=on
  type=refreshAndPersist
  retry="5 5 300 +"
  timeout=1
- add: olcMirrorMode
olcMirrorMode: TRUE
