filebeat.inputs:
  - type: log
    paths:
      - "{{ apache_nifi_home }}/logs/*.log"
    exclude_files: ['\.gz$']
    fields:
      service: nifi

output.logstash:
  hosts: {{ apache_nifi_filebeat_logstash_hosts | to_json }}
