# {{ ansible_managed }}

filebeat.inputs:
- type: {{ filebeat_input_type }}
  enabled: true
  paths:
{% for path in filebeat_paths %}
    - {{ path }}
{% endfor %}

output.elasticsearch:
  hosts: {{ filebeat_output_elasticsearch_hosts }}
