---
# Elasticsearch credentials
{% if amundsen_search_es_auth_type == "basic" %}
username: "{{ amundsen_search_es_username }}"
password: "{{ amundsen_search_es_password }}"
{% elif amundsen_search_es_auth_type == "api_key" %}
api_key_id: "{{ amundsen_search_es_api_key_id }}"
api_key: "{{ amundsen_search_es_api_key }}"
{% endif %}
