spark.eventLog.enabled                 true
spark.eventLog.dir                     {{ apache_spark_eventlog_dir }}
spark.history.fs.logDirectory          {{ apache_spark_eventlog_dir }}
{% if apache_spark_history_enabled | bool %}
spark.history.ui.port                  18080
{% endif %}
