[Unit]
Description=Keycloak Identity & Access Management
After=network.target

[Service]
Type=simple
User={{ keycloak_user }}
Group={{ keycloak_user }}
EnvironmentFile={{ keycloak_install_dir }}/conf/keycloak.conf
ExecStart={{ keycloak_install_dir }}/bin/kc.sh start --optimized
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
