{
  "schedule": "0 2 * * *",
  "name": "<daily-snap-{now/d}>",
  "repository": "{{ elasticsearch_snapshot_repo_name }}",
  "config": {
    "indices": "*",
    "ignore_unavailable": true
  },
  "retention": {
    "expire_after": "30d",
    "max_count": 30
  }
}
