[defaults]
inventory           = inventories
roles_path          = roles:infrastructure/linux/roles:security/linux/roles:security/pfsense/roles:identity/linux/roles:databases/linux/roles:data_platform/linux/roles:ci_cd/linux/roles
forks               = 20
retry_files_enabled = false
stdout_callback     = yaml
host_key_checking   = false
interpreter_python  = auto
fact_caching        = jsonfile
fact_caching_connection = .ansible_facts
collections_paths = collections

[privilege_escalation]
become = false
