[defaults]
inventory           = inventories/dynamic
enable_plugins      = community.general.proxmox
roles_path          = roles
forks               = 20
retry_files_enabled = false
stdout_callback     = yaml
host_key_checking   = false
interpreter_python  = auto
fact_caching        = jsonfile
fact_caching_connection = .ansible_facts
collections_paths = collections

[inventory]
# Enable inventory plugins
enable_plugins = community.general.proxmox, auto, host_list, script, yaml, ini

[privilege_escalation]
become = false
