{
  "": "0",
  "credentials": {
    "scope": "{{ item.scope | default('GLOBAL') }}",
    "id": "{{ item.id }}",
    "description": "{{ item.description | default('') }}",
    "username": "{{ item.username }}",
    "password": "{{ item.password }}",
    "stapler-class": "com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl"
  }
}
