{
  "": "0",
  "credentials": {
    "scope": "{{ item.scope | default('GLOBAL') }}",
    "id": "{{ item.id }}",
    "description": "{{ item.description | default('') }}",
    "secret": "{{ item.secret }}",
    "stapler-class": "org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl"
  }
}
