{
  "": "0",
  "credentials": {
    "scope": "{{ item.scope | default('GLOBAL') }}",
    "id": "{{ item.id }}",
    "username": "{{ item.username }}",
    "passphrase": "{{ item.passphrase | default('') }}",
    "description": "{{ item.description | default('') }}",
    "privateKeySource": {
      "stapler-class": "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$DirectEntryPrivateKeySource",
      "privateKey": "{{ item.private_key }}"
    },
    "stapler-class": "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey"
  }
}
