DATA_SOURCE_NAME="postgresql://{{ postgresql_exporter_user }}:{{ postgresql_exporter_password }}@localhost:{{ postgresql_port | default(5432) }}/{{ postgresql_exporter_database }}?sslmode=disable"
{% if postgresql_exporter_custom_queries_enabled %}
PG_EXPORTER_EXTEND_QUERY_PATH="/etc/postgres_exporter/queries.yaml"
{% endif %}
PG_EXPORTER_AUTO_DISCOVER_DATABASES={{ postgresql_exporter_auto_discover_databases | lower }}
PG_EXPORTER_WEB_LISTEN_ADDRESS="0.0.0.0:{{ postgresql_exporter_port }}"
