{{ mariadb_slow_query_log_file }} {
    daily
    missingok
    rotate 52
    compress
    delaycompress
    notifempty
    su mysql mysql
    postrotate
        /usr/bin/mysqladmin --defaults-file=/etc/mysql/debian.cnf flush-logs
    endscript
}
