apiVersion: 1
datasources:
{% for ds in grafana_datasources %}
  - name: {{ ds.name }}
    type: {{ ds.type }}
    url: {{ ds.url }}
    access: {{ ds.access }}
    isDefault: {{ ds.isDefault | default(false) }}
    {% if ds.database %}
    database: {{ ds.database }}
    {% endif %}
{% endfor %}
