<?xml version="1.0" encoding="UTF-8"?>
<users>
    <!-- Initial Admin User -->
    {% if nifi_admin_identity != "" %}
    <user identifier="{{ nifi_admin_identity | hash('sha256') }}" identity="{{ nifi_admin_identity }}"/>
    {% endif %}
    
    <!-- Provisioned Users -->
    {% for user in apache_nifi_users %}
    <user identifier="{{ user.identity | hash('sha256') }}" identity="{{ user.identity }}"/>
    {% endfor %}
</users>
